In [28]:
import numpy as np
import pandas as pd
from math import sqrt

In [62]:
animals = pd.DataFrame()

# higher speed & strength = predator
# lower speed & strength = prey
animals['Speed']    = [2,4,3,2,1,8,9,6,7,8]
animals['Strength'] = [3,5,1,4,2,8,6,9,5,7]
animals['Class']    = ['Prey','Prey','Prey','Prey','Prey',
                       'Predator','Predator','Predator','Predator','Predator']
animals

   Speed  Strength     Class
0      2         3      Prey
1      4         5      Prey
2      3         1      Prey
3      2         4      Prey
4      1         2      Prey
5      8         8  Predator
6      9         6  Predator
7      6         9  Predator
8      7         5  Predator
9      8         7  Predator

In [61]:
# test animal
speed = 2
strength = 4

def nearest_neighbor(speed, strength):
    
    # find euclidean distances from test animal to each animal & append distances to dataframe
    animals['distances'] = np.sqrt((animals['Speed'] - speed)**2 + (animals['Strength'] - strength)**2)  
    
    # find minimum distance (nearest neighbor)
    min_distance = animals['distances'].min()  
    
    # get classification of nearest neighbor
    animal_class = animals[animals['distances'] == min_distance].Class  
    
    return animal_class

nearest_neighbor(speed, strength)

# view new dataframe w/ distances
#animals['distances'] = np.sqrt((animals['Speed'] - speed)**2 + (animals['Strength'] - strength)**2)
#animals

3    Prey
Name: Class, dtype: object